* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 700px;
    margin: 0px auto;
    padding: 0px;
    width: 960px;
}

#main {
    height: 100%;
}

#measurement_main {
    border: 2px solid;
    cursor: pointer;
    display: table;
    font-size: 15pt;
    height: 49px;
    vertical-align: middle;
    width: 100%;
}

#new_measurement {
    border-right: 2px solid;
    display: table-cell;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

#exist_measurement {
    display: table-cell;
    height: inherit;
    margin-left: -5px;
    text-align: center;
    vertical-align: middle;
    width: 808px;
}

#footer {
    height: 60px;
    margin-bottom: -60px;
    width: 100%;
}

#footer a {
    border: 2px solid;
    color: black;
    margin: 0px -5px 0px 0px;
    padding: 0px 16px;
    text-decoration: none;
}

#footer a:hover{
    background-color: #dddddd;
}

#measurement_results {
    border-collapse: collapse;
    border: 2px solid;
    height: 50px;
    width: inherit;
}

#measurement_results td {
    border: 1px solid;
    text-align: center;
}

#measurement_results th {
    background-color: #dddddd;
    border: 1px solid;
}

.current {
    background-color: #dddddd;
}