<<<<<<< HEAD
body {
    height: 148mm;
    overflow: hidden;
    width: 197mm;
    margin: 0 auto;
}

#upper_container {
    height: 14px;
    padding: 15px;
}

#lower_container {
    height: 515px;
    position: relative;
}

#left {
    display: inline-table;
    height: inherit;
    width: 23%;
    z-index: 1;
}

#right {
    display: inline-table;
    height: 121px;
    position: relative;
    width: 76%;
    z-index: 1;
}

#create_dimension_btn {
    border-radius: 5px;
    border: 2px solid #000000;
    cursor: pointer;
    height: 40px;
    padding: 6px 25px 10px 7px;
    text-align: center;
    width: 167px;
}

#create_dimension_btn_label {
    padding: 0px 0px 0px 17px;
}

#items_menu {
    margin-left: 51px;
    position: relative;
    top: 5px;
}

.items_menu_item {
    border-radius: 6px;
    border: 2px solid #000000;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin: 0px 22px;
    padding: 3px 5px;
    text-align: center;
    width: 61px;
}

#dimensions_menu {
    margin-left: 16px;
}

#dimensions {
    border-bottom: 2px solid;
    list-style: none outside none;
=======
* {
>>>>>>> dd53b8c36d4283b730316132cc90561b09a4e1c6
    margin: 0px;
    padding: 0px;
}

body {
    height: 700px;
    margin: 0px auto;
    padding: 0px;
    width: 960px;
}

#main {
    height: 100%;
}

#measurement_main {
    border: 2px solid;
    cursor: pointer;
    display: table;
    font-size: 15pt;
    height: 49px;
    vertical-align: middle;
    width: 100%;
}

#new_measurement {
    border-right: 2px solid;
    display: table-cell;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

#exist_measurement {
    display: table-cell;
    height: inherit;
    margin-left: -5px;
    text-align: center;
    vertical-align: middle;
    width: 808px;
}

#footer {
    height: 60px;
    margin-bottom: -60px;
    width: 100%;
}

#footer a {
    border: 2px solid;
    color: black;
    margin: 0px -5px 0px 0px;
    padding: 0px 16px;
    text-decoration: none;
}

#footer a:hover{
    background-color: #dddddd;
}

#measurement_results {
    border-collapse: collapse;
    border: 2px solid;
    height: 50px;
    width: inherit;
}

<<<<<<< HEAD
#addNewDimensionWindow {
    background-color: rgba(0, 0, 0, 0.5);
    height: 539px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 725px;
    z-index: 1001;
=======
#measurement_results td {
    border: 1px solid;
    text-align: center;
>>>>>>> dd53b8c36d4283b730316132cc90561b09a4e1c6
}

#measurement_results th {
    background-color: #dddddd;
    border: 1px solid;
}

<<<<<<< HEAD
.visible {
    display: block;
}

#addNewDimensionWindow {

}

.active {
    background-color: #E6E6E6;
}

#dim_name {
    height: 30px;
    width: 200px;
}

.content {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid;
    height: 460px;
    left: 18px;
    padding: 20px;
    position: relative;
    top: 18px;
    width: 643px;
}

#sex {
    margin: 5px 0px;
}

.content ul {
    list-style: none outside none;
}

#dim_items {
    display: inline-block;
    margin: 30px 0px 0px;
}

#dim_items li div {
    display: inline-block;
}

.dim_item_label {
    width: 60px;
}

.dim_item_value {
    border: 2px solid;
    margin: 2px 0px;
    text-align: center;
    width: 40px;
}

#dim_values {
    display: inline-block;
    margin: 17.5px 0px 0px;
    vertical-align: top;
}

#dim_values_tabs li {
    display: inline-block;
}

.items_li {
    border-left: 2px solid;
    border-radius: 10px 0px 0px;
    border-top: 2px solid;
    cursor: pointer;
    height: 27px;
    margin: 0px 24px 0px 2px;
    padding: 0px 13px;
    text-align: center;
    width: 46px;
    z-index: 1;
}

.items_li span {
    display: block;
    left: -4px;
    position: relative;
    text-align: center;
    top: -25px;
}

.skew {
    border-radius: 0px 10px;
    border-right: 2px solid;
    border-top: 2px solid;
    height: 26px;
    left: 5px;
    position: relative;
    top: -2px;
    transform: skew(20deg);
    width: 71px;
    z-index: 0;
}

.skew div {
    border-bottom: 2px solid;
    position: relative;
    top: 25px;
    width: inherit;
}

.items_li:hover {
    background-color: #E6E6E6;
    border-bottom: 2px solid;
    height: 25px;
}

.items_li:hover .skew {
    background-color: #E6E6E6;
}

#dim_values_list {
    border-radius: 0px 10px 10px;
    border: 2px solid;
    height: 322px;
    margin: 0px 0px 0px 19px;
    width: 468px;
    z-index: 9999;
}

#dim_values_tabs {
    height: 27px;
    margin-bottom: 0px;
    padding: 0px 17px;
    z-index: 1;
}

.dim_values_line {
    border-bottom: 1px solid;
    padding: 15px 6px;
}

.last_line {
    border-bottom: 0px solid;
}

.dim_values_line_value {
    border-radius: 5px;
    border: 2px solid;
    cursor: pointer;
    display: inline-block;
    margin: 0px 1px;
    text-align: center;
    width: 36px;
}

#dim_values_list_container {
    margin: 0px;
}

#hand_insert {
    border-radius: 7px;
    border: 2px solid;
    cursor: pointer;
    margin: 15px 0px 7px 20px;
    padding: 1px 9px;
    text-align: center;
    width: 120px;
}

.btn {
    border-radius: 7px;
    border: 2px solid;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 12pt;
    margin: 0px 10px;
    padding: 1px 14px;
}
=======
.current {
    background-color: #dddddd;
}
>>>>>>> dd53b8c36d4283b730316132cc90561b09a4e1c6
