* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 633px;
    margin: 0px auto;
    padding: 0px;
    width: 960px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    background-color: #dddddd;
}

ul {
    list-style: none outside none;
}

#main {
    height: 100%;
}

#measurement_main {
    border: 2px solid;
    cursor: pointer;
    display: table;
    font-size: 15pt;
    height: 49px;
    vertical-align: middle;
    width: 100%;
}

#new_measurement {
    border-right: 2px solid;
    display: table-cell;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

#exist_measurement {
    display: table-cell;
    height: inherit;
    margin-left: -5px;
    text-align: center;
    vertical-align: middle;
    width: 808px;
}

#footer {
    height: 60px;
    margin-top: -70px;
    width: 100%;
}

#footer a {
    border: 2px solid;
    color: black;
    margin: 0px -5px 0px 0px;
    padding: 0px 16px;
}

#measurement_results {
    border-collapse: collapse;
    border: 2px solid;
    height: 50px;
    width: inherit;
}

#measurement_results td {
    border: 1px solid;
    text-align: center;
}

#measurement_results th {
    background-color: #dddddd;
    border: 1px solid;
}

.current {
    background-color: #dddddd;
}

#products {
    margin: 15px auto;
    width: 425px;
}

.product {
    border: 2px solid;
    margin: 0px 15px;
    padding: 4px 10px;
}

#alg_steps {
    display: inline-block;
    margin: 30px;
    vertical-align: top;
    width: 150px;
}

#alg_text {
    display: inline-block;
    margin: 30px 0px;
    text-align: center;
    width: 500px;
}

.step {
    margin: 5px 0px;
}

#control_buttons {
    margin: 0px auto;
    width: 300px;
}

#control_buttons a {
    height: 16px;
    margin: 0px 30px;
    width: 58px;
}

#control_buttons a:nth-of-type(1) {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    padding: 0px 10px 0px 0px;
}

#control_buttons a:nth-of-type(1):before {
    border-bottom: 2px solid;
    border-left: 2px solid;
    content: "";
    display: inline-block;
    height: 14px;
    left: -8px;
    position: relative;
    top: 3px;
    transform: rotate(45deg);
    width: 14px;
}

#control_buttons a:nth-of-type(1):hover:before {
    background-color: #dddddd;
    border-bottom: 2px solid;
    border-left: 2px solid;
    content: "";
    display: inline-block;
    height: 14px;
    left: -8px;
    position: relative;
    top: 3px;
    transform: rotate(45deg);
    width: 14px;
}

#control_buttons a:nth-of-type(2) {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    padding: 0px 0px 0px 10px;
}

#control_buttons a:nth-of-type(2):after {
    border-right: 2px solid;
    border-top: 2px solid;
    content: "";
    display: inline-block;
    height: 14px;
    left: 8px;
    position: relative;
    top: 3px;
    transform: rotate(45deg);
    width: 14px;
}

#control_buttons a:nth-of-type(2):hover:after {
    background-color: #dddddd;
    border-right: 2px solid;
    border-top: 2px solid;
    content: "";
    display: inline-block;
    height: 14px;
    left: 8px;
    position: relative;
    top: 3px;
    transform: rotate(45deg);
    width: 14px;
}
