<!DOCTYPE html>
<html ng-app="sewing_app">
<!--todo: Подумать как верстку можно подгонять под различные размеры мониторов-->
<head>
    <meta charset="utf-8"/>
    <title>SandraSewing v2.0</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/angular.touch.min.js"></script>
    <script type="text/javascript" src="./js/patterns.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <style type="text/css">
        .table {
            height: 100%;
            overflow-y: scroll;
        }

        .tr {
            margin: 7px 0 15px;
        }

        .td {
            margin: 0 0 0 117px;
        }

        strong {
            width: 115px;
            display: inline-block;
        }
    </style>
</head>
<body app-main>
<div id="main">
    <div id="measurement_main">
        <a href="" id="new_measurement" ng-click="showOrHideSubScreen('new')">Новая мерка</a>
        <a href="" id="exist_measurement"
           ng-click="showOrHideSubScreen('select')"><span>{{dimensions.current.name}}</span></a>
    </div>
        <span ng-show="showSubScreen">
            <div id="screen_saver"></div>
            <div id="sub_screen">
                <edit-screen ng-show="showSubScreen=='new'||showSubScreen=='edit'" context="showSubScreen"
                             current="dimensions.current"></edit-screen>
                <select-dimension dimensions="dimensions" ng-show="showSubScreen=='select'"></select-dimension>
            </div>
        </span>

    <div id="products">
        <a href="" class="product" ng-click="(selectedProd = 'panes')" ng-class="{active:(selectedProd == 'panes')}">Брюки</a>
        <a href="" class="product" ng-click="(selectedProd = 'skirt')" ng-class="{active:(selectedProd == 'skirt')}">Юбка</a>
        <a href="" class="product" ng-click="(selectedProd = 'dress')" ng-class="{active:(selectedProd == 'dress')}">Платье</a>
        <a href="" class="product" ng-click="(selectedProd = 'shirt')" ng-class="{active:(selectedProd == 'shirt')}">Рубашка</a>

        <!--Выкройка брюк-->
        <products class="products" ng-show="(selectedProd == 'panes')">
            <div class="table">

                <div class="tr">
                    <strong>Выберите Х</strong>
                    <a href="" class="button" ng-click="calkParams.x=calkParams.pob/10; selectedX=1; setView('continue')" ng-class="{active:(selectedX == 1)}">X</a>
                    <a href="" class="button" ng-click="calkParams.x=11*calkParams.pob/100; selectedX=2; setView('continue')" ng-class="{active:(selectedX == 2)}">2X</a>
                    <a href="" class="button" ng-click="calkParams.x=23*calkParams.pob/200; selectedX=3; setView('continue')" ng-class="{active:(selectedX == 3)}">3X</a>
                </div>

                <div class="tr" ng-show="checkView('continue')">
                    <span class="td">Проведите вертикальную линию высотой <span ng-if="dimensions.current.type == 'man'">{{calkParams.pob / 2 + 1|round}}</span><span ng-if="dimensions.current.type == 'woman'">{{calkParams.pob / 2-1|round}}</span></span>
                </div>

                <div class="tr" ng-show="checkView('continue')">
                    <strong>Выберите ТБ</strong>
                    <a href="" class="button" ng-click="calkParams.tb=17; selectedTB = 17; setView('continue1')" ng-class="{active:(selectedTB == 17)}">17</a>
                    <a href="" class="button" ng-click="calkParams.tb=18; selectedTB = 18; setView('continue1')" ng-class="{active:(selectedTB == 18)}">18</a>
                    <a href="" class="button" ng-click="calkParams.tb=19; selectedTB = 19; setView('continue1')" ng-class="{active:(selectedTB == 19)}">19</a>
                    <a href="" class="button" ng-click="calkParams.tb=20; selectedTB = 20; setView('continue1')" ng-class="{active:(selectedTB == 20)}">20</a>
                </div>

                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Прямая ТБ</strong>Из точки Т проведите вниз {{calkParams.tb}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Прямая ТБ</strong>Из точки Т проведите вниз {{calkParams.tb}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка Я1</strong>От точки Я отложите влево {{3*calkParams.x|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка Т1</strong>От точки Т отложите влево {{3*calkParams.x|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <span class="td">Соедините прямоугольник Т-Т1-Я1-Я</span>
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка Я2</strong>От точки Я отложите вправо {{2*calkParams.x|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка Т2</strong>От точки Т отложите вправо {{2*calkParams.x|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <span class="td">Соедините прямоугольник Т-Т2-Я2-Я</span>
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка Я3</strong>От Я2 отложите вправо {{calkParams.x|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка Я4</strong>От Я2 отложите влево {{calkParams.x|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <span class="td">Проведите горизонтальную прямую между Т1-Я1 и Т2-Я2 через точку Б</span>
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка К</strong>От точки Б отложите {{calkParams.di - calkParams.tb|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка К1</strong>От точки К отложите влево {{2*calkParams.x-1|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка К2</strong>От точки К отложите вправо {{2*calkParams.x-1|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка N1</strong>От точки N отложите влево {{2*calkParams.x-1.5|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong>Точка N2</strong>От точки N отложите вправо {{2*calkParams.x-1.5|round}}
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <span class="td">Соедините N1-K1 по прямой</span>
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <span class="td">Соедините N2-K2 по прямой</span>
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <span class="td">Соедините K1-Б1 по прямой</span>
                </div>
                <div class="tr" ng-show="checkView('continue1')">
                    <strong style="width: 225px">Требуется ли делать вытачки?</strong>
                    <a href="" class="button" ng-click="setView('continue2'); resetView('end')" ng-class="{active:checkView('continue2')}">Да</a>
                    <a href="" class="button" ng-click="setView('end'); resetView('continue2')" ng-class="{active:checkView('end')}">Нет</a>
                </div>
                <div class="tr" ng-show="checkView('continue2')">
                    <strong style="width: 200px">Выберите длину вытачки</strong><input style="width: 70px; height: 22px" ng-model="calkParams.dv" type="number">
                </div>
                <div class="tr" ng-show="checkView('continue2')">
                    <span class="td" ng-show="calkParams && calkParams.dv > 0">От точки Т2 отложите влево {{calkParams.pot/2 + calkParams.dv|round}}</span>
                </div>
                <div class="tr" ng-show="checkView('end')">
                    <strong style="width: 200px;">Построение закончено</strong>
                </div>
            </div>
        </products>
    </div>
</div>
<div id="footer" calc-results>
</div>
</body>
</html>