<!DOCTYPE html>
<html ng-app="sewing_app">
<!--todo: Подумать как верстку можно подгонять под различные размеры мониторов-->
<head>
    <meta charset="utf-8"/>
    <title>SandraSewing v2.0</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/angular.touch.min.js"></script>
    <script type="text/javascript" src="./js/patterns.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <style type="text/css">
        .table {
            height: 100%;
            overflow-y: scroll;
        }

        .tr {
            margin: 7px 0 15px;
        }

        .td {
            margin: 0 0 0 117px;
        }

        strong {
            width: 115px;
            display: inline-block;
        }
    </style>
</head>
<body app-main>
<div id="main">
    <div id="measurement_main">
        <a href="" id="new_measurement" ng-click="showOrHideSubScreen('new')">Новая мерка</a>
        <a href="" id="exist_measurement"
           ng-click="showOrHideSubScreen('select')"><span>{{dimensions.current.name}}</span></a>
    </div>
        <span ng-show="showSubScreen">
            <div id="screen_saver"></div>
            <div id="sub_screen">
                <edit-screen ng-show="showSubScreen=='new'||showSubScreen=='edit'" context="showSubScreen"
                             current="dimensions.current"></edit-screen>
                <select-dimension dimensions="dimensions" ng-show="showSubScreen=='select'"></select-dimension>
            </div>
        </span>
        <products></products>
</div>
<div id="footer" calc-results>
</div>
</body>
</html>