<!DOCTYPE html>
<html ng-app="s_sewing">
<head>
    <meta charset="utf-8" />
    <title>SandraSewing v2.0</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/ss_logic.js"></script>
    <style type="text/css">
        /*.hidden {display: none}*/
    </style>
</head>
<body main-directive>
    <div id="upper_container">
        <span id="create_dimension_btn" class="hover_class" ng-click="changeWindow('dim')">
            <span id="create_dimension_btn_label">Создать мерку</span>
        </span>
        <span id="items_menu">
            <span class="items_menu_item hover_class">Рубашка</span>
            <span class="items_menu_item hover_class">Брюки</span>
            <span class="items_menu_item hover_class">Платье</span>
            <span class="items_menu_item hover_class">Юбка</span>
        </span>
    </div>
    <div id="lower_container">
    </div>
    <div id="addNewDimension" ng-show="true">
        <div id="addNewDimensionWindow">
            <input type="text" placeholder="Название мерки"/>
            <input type="button" value="Закрыть" ng-click="changeWindow('main')"/>
        </div>
    </div>
</body>
</html>