
body {
    border: 1px solid #000000;
    height: 148mm;
    width: 197mm;
}
#upper_container {
    height: 14px;
    padding: 15px;
}
#lower_container {
    height: 515px;
}
#left {
    display: inline-table;
    height: inherit;
    width: 20%;
    z-index: 1;
}
#right {
    display: inline-table;
    height: 121px;
    position: relative;
    width: 76%;
    z-index: 1;
}
#create_dimension_btn {
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    padding: 6px 25px 10px 7px;
    text-align: center;
    width: 167px;
}
#create_dimension_btn:hover {
    background-color: #E6E6E6;
}
#create_dimension_btn_label {
    padding: 0 0 0 17px;
}
#items_menu {
    margin-left: 51px;
    position: relative;
    top: 5px;
}
.items_menu_item {
    border: 2px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin: 0 22px;
    padding: 3px 5px;
    text-align: center;
    width: 61px;
}
.items_menu_item:hover {
    background-color: #E6E6E6;
}
#dimensions_menu {
    margin-left: 16px;
}
#dimensions {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.current_dim {
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    cursor: pointer;
    display: table;
    height: 26px;
    padding: 5px 0 0 13px;
    width: 137px;
}
.current_dim:hover {
    background-color: #E6E6E6;
}
.current_dim:hover .sub_menu {
    display: inline-block;
}
.sub_menu {
    display: none;
    left: 137px;
    margin-top: -7px;
    position: absolute;
    top: auto;
}

.sub_menu_list {
    list-style: none outside none;
}
.sub_menu_item {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    cursor: pointer;
    display: table;
    height: 26px;
    padding: 5px 0 0 1px;
    text-align: center;
    width: 73px;
    z-index: 99;
}
.sub_menu_item:hover {
    background-color: #E6E6E6;
}
.last_dim {
    border-bottom: 2px solid;
}
#calc_results {
    margin: 20px 0 0 17px;
    width: inherit;
}
#results {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: inherit;
}
#results th {
    border: 1px solid #000000;
}
#results td {
    border: 1px solid #000000;
    height: 22.5px;
    width: 15px;
}
