<div id="addNewDimension" ng-show="appWindows.currentWindow == 'dim'">
    <div id="addNewDimensionWindow">
        <div class="content">
            <input id="dim_name" type="text" placeholder="Название мерки"
                   ng-model="dimWindowCtrl.models.itemName"/>
            <div class="btn hover_class"
                 ng-click="dimWindowCtrl.create_or_update() && appWindows.changeCurrent('main')"
                 ng-switch="dimWindowCtrl.models.itemName.length > 0">
                <span ng-switch-when="true">
                    Сохранить
                </span>
                <span ng-switch-when="false">
                    Закрыть
                </span>
            </div>
            <div class="btn hover_class"
                 ng-click="appWindows.changeCurrent('main')"
                 ng-show="dimWindowCtrl.models.itemName.length > 0">
                 Отмена
            </div>
            <div id="sex">
                <input id="men_dim" type="radio" name="dim_type"/><label for="men_dim">Мужская мерка</label>
                <input id="woman_dim" type="radio" name="dim_type"/><label for="woman_dim">Женская мерка</label>
            </div>
            <ul id="dim_items">
                <li><div class="dim_item_label">ПОБ</div><div class="dim_item_value">11</div></li>
                <li><div class="dim_item_label">ПОТ</div><div class="dim_item_value">11</div></li>
                <li><div class="dim_item_label">ОШ</div><div class="dim_item_value">11</div></li>
                <li><div class="dim_item_label">ВПКС</div><div class="dim_item_value">11</div></li>
            </ul>
            <div id="dim_values">
                <ul id="dim_values_tabs">
                    <li class="items_li">
                        <div class="skew">
                            <div></div>
                        </div>
                        <span>Взрослые</span>
                    </li>
                    <li class="items_li">
                        <div class="skew">
                            <div></div>
                        </div>
                        <span>Детские</span></li>
                </ul>
                <div id="dim_values_list">
                    <div id="hand_insert" class="hover_class">
                        Ввести вручную
                    </div>
                    <div id="dim_values_list_container">
                        <div class="dim_values_line">
                            <div class="dim_values_line_value hover_class">50</div>
                            <div class="dim_values_line_value hover_class">51</div>
                            <div class="dim_values_line_value hover_class">52</div>
                            <div class="dim_values_line_value hover_class">53</div>
                            <div class="dim_values_line_value hover_class">54</div>
                            <div class="dim_values_line_value hover_class">55</div>
                            <div class="dim_values_line_value hover_class">56</div>
                            <div class="dim_values_line_value hover_class">57</div>
                            <div class="dim_values_line_value hover_class">58</div>
                            <div class="dim_values_line_value hover_class">59</div>
                        </div>
                        <div class="dim_values_line">
                            <div class="dim_values_line_value hover_class">60</div>
                            <div class="dim_values_line_value hover_class">61</div>
                            <div class="dim_values_line_value hover_class">62</div>
                            <div class="dim_values_line_value hover_class">63</div>
                            <div class="dim_values_line_value hover_class">64</div>
                            <div class="dim_values_line_value hover_class">65</div>
                            <div class="dim_values_line_value hover_class">66</div>
                            <div class="dim_values_line_value hover_class">67</div>
                            <div class="dim_values_line_value hover_class">68</div>
                            <div class="dim_values_line_value hover_class">69</div>
                        </div>
                        <div class="dim_values_line">
                            <div class="dim_values_line_value hover_class">70</div>
                            <div class="dim_values_line_value hover_class">71</div>
                            <div class="dim_values_line_value hover_class">72</div>
                            <div class="dim_values_line_value hover_class">73</div>
                            <div class="dim_values_line_value hover_class">74</div>
                            <div class="dim_values_line_value hover_class">75</div>
                            <div class="dim_values_line_value hover_class">76</div>
                            <div class="dim_values_line_value hover_class">77</div>
                            <div class="dim_values_line_value hover_class">78</div>
                            <div class="dim_values_line_value hover_class">79</div>
                        </div>
                        <div class="dim_values_line">
                            <div class="dim_values_line_value hover_class">80</div>
                            <div class="dim_values_line_value hover_class">81</div>
                            <div class="dim_values_line_value hover_class">82</div>
                            <div class="dim_values_line_value hover_class">83</div>
                            <div class="dim_values_line_value hover_class">84</div>
                            <div class="dim_values_line_value hover_class">85</div>
                            <div class="dim_values_line_value hover_class">86</div>
                            <div class="dim_values_line_value hover_class">87</div>
                            <div class="dim_values_line_value hover_class">88</div>
                            <div class="dim_values_line_value hover_class">89</div>
                        </div>
                        <div class="dim_values_line last_line">
                            <div class="dim_values_line_value hover_class">90</div>
                            <div class="dim_values_line_value hover_class">91</div>
                            <div class="dim_values_line_value hover_class">92</div>
                            <div class="dim_values_line_value hover_class">93</div>
                            <div class="dim_values_line_value hover_class">94</div>
                            <div class="dim_values_line_value hover_class">95</div>
                            <div class="dim_values_line_value hover_class">96</div>
                            <div class="dim_values_line_value hover_class">97</div>
                            <div class="dim_values_line_value hover_class">98</div>
                            <div class="dim_values_line_value hover_class">99</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>