<input id="dimension_name" type="text" placeholder="Название мерки" ng-model="dimension_name"/>
<div>
    <input class="dimension_type" id="man_dimension" name="sex" type="radio" ng-click="changeType('man')" checked/><label class="dimension_type" for="man_dimension">Мужская мерка</label>
    <input class="dimension_type" id="woman_dimension" name="sex" type="radio" ng-click="changeType('woman')"/><label class="dimension_type" for="woman_dimension">Женская мерка</label>
</div>
<div id="dimensions_list">
    <span class="dimension_insert" ng-repeat="dim in dimensions.config.types[type]">{{dim.label}}<input focus-me ng-focus="selectedInput.name=dim.name; selectedInput.index=$index;" ng-model="formInfo[dim.name]" type="text"></span>
</div>
<div id="dimension_values_list">
    <div id="age_types">
        <input class="dimension_type" id="adults_dimension" name="age" type="radio" value="1" checked /><label class="dimension_type" for="adults_dimension">Взрослые</label>
        <input class="dimension_type" id="kinder_dimension" name="age" type="radio" value="1" /><label class="dimension_type" for="kinder_dimension">Детские</label>
        <a href="" id="self_insert">Ввести вручную</a>
    </div>
    <dimension-values-shortlist>
    </dimension-values-shortlist>
    </div>
</div>
<div id="sub_screen_buttons">
    <a href="" class="button" ng-click="showOrHideSubScreen(false)">Отмена</a>
    <a href="" class="button" ng-click="createNewDimension()">Сохранить</a>
</div>